.wrapper {
  background-color: blue;
  max-width: 100%;
  display: flex;
  background-color: #1C1938;
  color: #ffffff;
  border-radius: 7px;
  box-shadow: 1px 3px 10px rgba(1, 1, 1, 0.3);
  overflow: hidden;
}
@media screen and (max-width: 991px) {
  .wrapper {
    flex-direction: column-reverse;
  }
}